/*==================================
        RESPONSIVE
==================================*/

@media(max-width:992px){

    section{

        padding:80px 6%;

    }

}

@media(max-width:768px){

    section{

        padding:70px 5%;

    }

}

@media(max-width:576px){

    section{

        padding:60px 20px;

    }

}

/*==================================
        HERO RESPONSIVE
==================================*/

@media(max-width:992px){

    .hero-container{

        grid-template-columns:1fr;

        text-align:center;

    }

    .hero-buttons{

        justify-content:center;

    }

    .hero-description{

        margin:auto auto 40px;

    }

    .profile-card{

        width:340px;

        height:430px;

    }

}

@media(max-width:768px){

    .nav-links{

        display:none;

    }

    .hero-left h1{

        font-size:52px;

    }

    .hero-left h2{

        font-size:28px;

    }

}

@media(max-width:768px){

    .hero-stats{

        grid-template-columns:1fr;

    }

}

/* ==========================
     PROJECT RESPONSIVE
========================== */

@media (max-width:992px){

    .project-grid{
        grid-template-columns:1fr;
    }

    .project-buttons{
        flex-direction:column;
    }

}

/*==================================
        EDUCATION RESPONSIVE
==================================*/

@media(max-width:768px){

    .education-timeline::before{

        left:14px;

    }

    .education-card{

        margin-left:45px;

        padding:22px;

    }

    .education-card::before{

        left:-38px;

    }

    .edu-bottom{

        flex-direction:column;

        align-items:flex-start;

    }

}

@media(max-width:768px){

    .certificate-grid{

        grid-template-columns:1fr;

    }

}

/*==================================
        CONTACT RESPONSIVE
==================================*/

@media(max-width:992px){

    .contact-container{

        grid-template-columns:1fr;

    }

}

@media(max-width:768px){

    .input-group{

        grid-template-columns:1fr;

    }

}