/*======================================
            CSS RESET
======================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:var(--font);
    background:var(--bg);
    color:var(--white);
    overflow-x:hidden;
    line-height:1.6;
}

